* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background: url(../img/pattern.png) repeat;
    height:100%;
    font-family: 'fira_sanslight';
  	color: #4a545d;
}
html {
    height:100%;
}

/* прибьём футер к низу*/
.wrapper{
	position:relative;
	height:auto!important;
	height:100%;
	overflow:hidden;
}
.wrapper:after {
	content: "";
	height: 80px;
	display: block;
}
.page-footer{
	height: 80px;
	margin-top: -80px;	
}
/* прибьём футер к низу - конец*/

/* Шапка */
.container-big {
    width: 1200px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.page-header {
    height: 119px;
    background-color: #eff3f7;
    position: relative;
    margin-bottom: 39px;
}
.page-header .header-logo-link{
	position: absolute;
	top: 30px;
	left: 0;
}
.page-header .header-logo-text{
	position:absolute;
	left:-9999px
}
.page-header .socials{
	position: absolute;
	right: 0;
	top: 36px;
	margin: 0;
	padding: 0;
}
/* Шапка - конец */

/* Блок социальных ссылок */
.socials .socials-item {
    list-style: none;
    display: inline-block;
    height: 47px;
    width: 47px;
    margin-left: 19px;
    /* Отступ у таких элементов всегда слева */
}
.socials .socials-item:first-child {
    margin-left: 0;
    /* А у первого элемента обнуляем отступ */
}
.socials .socials-link {display: block;
    height: 100%;
    width: 100%;
    text-indent: -9999px;
    background: url(../img/socials.png) no-repeat;
}
.socials .socials-link.vk {background-position: -2px -3px; }
.socials .socials-link.tw {background-position: -71px -3px; }
.socials .socials-link.fb {background-position: -140px -3px; }
.socials .socials-link.gt {background-position: -209px -3px; }
.socials .socials-link:hover {background-position-y: -65px; }
/* Блок социальных ссылок - конец */

/* Сайдбар */
.sidebar {
	width: 257px;
	float: left;
}
/* Навигация */
.navigation{
	background: #eff3f7;
  	border-radius: 4px;
  	margin-bottom: 26px;
}
.navigation .navigation-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.navigation .navigation-item {

}
.navigation .navigation-link {
	font-size: 20px;
	text-decoration: none;
	color: #959aa8;
	margin-left: 20px;
 }
/* Навигация - конец */

/* Контакты */
.contacts{
	background: #3ba8c0;
	border-radius: 4px;
	margin-bottom: 26px;
	color: white;
}
.contacts .contacts-header{
	background: #3ba8c0;
  	border-radius: 4px 4px 0 0;
}
.contacts .header-inner-text{
	font-size: 20px;
	margin: 0;
}
.contacts .contacts-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.contacts .contacts-link{
	color: white;
	text-decoration: none;
	line-height: 1.3;
	font-size: 15px;
}
/* Контакты - конец */

/* Главная область */
.variable-content{
	width: 650px;
	float: right;
	position: relative;
}

/* Футер */
.page-footer{
	background: #eff3f7;
}
.page-footer .copyright{
	text-align: center;
}
.page-footer .lock {
	position: absolute;
	top: 26px;
	left: 20px;
	padding-left: 20px;
	background: url(../img/lock-close.png) no-repeat;
}
.page-footer .container {
  	position: relative;  	
  	padding: 20px 0; 
}

/* общие классы */
.container {
	width: 960px;
    margin-right: auto;
    margin-left: auto;
}
.page-header:after, .page-footer:before{
	content: '';
	background-image: -moz-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
	width: 100%;
	height: 3px;
	position: absolute;	
}
.text-center{
	text-align: center;
}
.pull-left {
	float: left !important;
}
.pull-right {
	float: right !important;
}
/* clearfix */
.container:before, .clearfix:before,
.container:after, .clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.container:after, .clearfix:after {
    clear: both;
}
/* clearfix - конец */
/* общие классы - конец */


